body{
  font-family: 'Pacifico', cursive;
  background-color: #7CDA25;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
}

.triangular-border{
  width: 0;
  height: 0;
  border-top: 500px solid #8325DA;
  border-right: 500px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.title {
    background: #8325DA;
    padding: 3px 3px 5px;
    text-align: center;
    border-radius: 5px;
}

.content {
    width: 400px;
}

.todo-frm {
    position: relative;
}

.btn-pos{
    background: #8325DA;
    position: absolute;
    right: 0;
    top: 25px;
}

.item-list {
    color: gray;
}

input[type="text"] {
    font-family: initial;
}

.spinner-border {
    position: relative;
    top: -60px;
}

.text-404 {
    font-size: 7.5rem;
}

